.Articles {
    margin-top: 3.75rem;
    font-size: 1.25rem;

    &__row {
        display: flex;
        width: 100%;
        justify-content: flex-start;

        article {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            min-height: 100%;
            margin-bottom: 2.4rem;
            margin-right: 7rem;

            p {
                line-height: 1.75;
                vertical-align: baseline;
                
            }
            
        }
    }
}