.MainContainer {
    padding: 50px 265px;
    color: $font-medium-gray-2;
    background-image:(linear-gradient(top, 
                        rgba(19,19,19,1) 0%,
                        rgba(29,29,29,1) 2%,
                        rgba(30,30,30,1) 4%,
                        rgba(31,31,31,1) 6%,
                        rgba(31,31,31,1) 8%,
                        rgba(32,32,32,1) 10%,
                        rgba(33,33,33,1) 12%,
                        rgba(34,34,34,1) 14%));
    @media (max-width: 1700px) {
        padding: 50px 120px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 115px;
        @media (max-width: 1650px) {
            min-height: 150px;
        }

        @media (max-width: 1310px) {
            min-height: 180px;
        }

        & h1.active {
            font-weight: 400;
            font-size: 2.4rem;
        }

        h3 {
            font-size: 1.5rem;
            font-weight: 400;
        }

        .header-wrapper {
            display: flex;
        
            i {
                font-size: 2.5rem;
                color: #E2AE5A;
                margin-right: 1rem;
            }
        }
    }
}