.RouterExample {
    color: $color-light-gray;
    background: $color-dark-light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
}