.active {
    font-weight: 500;
    color: $font-orange;
    display: inline-block;
}

.text-highlight {
    color: #B48375;
    font-size: 1.25rem;
    font-weight: 100;
    display: inline-block;
}
